@font-face {
  font-family: 'Muppets';
  src: url('../Pastor\ of\ Muppets.woff2') format('woff2');
}

body {
  text-align: center;
  font-family: Muppets, sans-serif;
}

/* Make content area fill the entire browser window */
html,
.fullscreen {
  display: flex;
  height: 100%;
  margin: 0;
  padding: 0;  
  width: 100%;
  background-color: rgb(155, 209, 187);

}

/* Center the content in the browser window */
.container {
  margin: auto;
  text-align: center;
}

.title {
  font-family: Muppets, sans-serif;
  font-size: 3rem;
}